



@mixin margin-y($marginTop, $marginBottom) {
  margin-top: $marginTop;
  margin-bottom: $marginBottom;
}


@mixin padding-y($paddingTop, $paddingBottom) {
  padding-top: $paddingTop;
  padding-bottom: $paddingBottom;
}

@mixin img-fit {
  @include dimension(100%, 100%);
  object-fit: cover;
}

@mixin bg-cover {
  
  background-position: center;
  background-repeat: no-repeat;
}

@mixin pseudo($content: "", $top: 0, $left: 0, $width: auto, $height: auto) {
  content: $content;
  position: absolute;
  top: $top;
  left: $left;
  @include dimension($width, $height);
  pointer-events: none;
}

@mixin bordered($borderWidth, $borderColor) {
  border: $borderWidth solid $borderColor;
}

@mixin flexbox($justifyContent: flex-start, $alignItems: flex-start) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin grid-cols($colsCount, $colsWidth, $gap) {
  grid-template-columns: repeat($colsCount, $colsWidth);
  gap: $gap;
}

@mixin transition($prop: all, $duration, $timingFn: ease) {
  transition: $prop $duration $timingFn;
}

@mixin toggleVisibility($visibility, $opacity) {
  visibility: $visibility;
  opacity: $opacity;
}


// mixin for media-queries

@mixin devices($breakpoint) {

  @if $breakpoint==xl {
      @media (max-width: 1399.98px) {
          @content;
      }
  }

  @else if $breakpoint==lg {
      @media (max-width: 1023.98px) {
          @content;
      }
  }

  @else if $breakpoint==md {
      @media (max-width: 767.98px) {
          @content;
      }
  }

  @else if $breakpoint==sm {
      @media (max-width: 639.98px) {
          @content;
      }
  }

  @else if $breakpoint==xs {
      @media (max-width: 479.98px) {
          @content;
      }
  }
}










.container {
  max-width: 1440px;
 

  @include devices(xl) {
      max-width: 1280px;
  }

  @include devices(lg) {
      max-width: 1024px;
  }

  @include devices(md) {
      max-width: 768px;
  }

  @include devices(sm) {
      max-width: 640px;
  }

  @include devices(xs) {
      width: 100%;
  }
}

.wrapper {
  display: grid;
}

.section {
  @include padding-y(5rem, 5rem);
}

.section_head {
  margin-bottom: 4rem;
  text-align: center;

  @include devices(xs) {
      margin-bottom: 2rem;
  }
}

.overflow_hide {
  overflow: hidden;
}

.btn {
  display: inline-block;
  background-color: rgba($color: #FF0000, $alpha: 0.8);
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 3px;
  @include transition(background-color, 0.2s, ease-out);

  &:hover {
      background-color: var(--main-color);
  }
}

.input_box {
  position: relative;
}

.input_field {
  display: block;
  background: transparent;
  color: #fff;
  width: 100%;
  padding: 0.65rem 0.55rem;
  font-size: 1rem;
  border-radius: 3px;
  border: 2px solid rgba($color: #ffffff, $alpha: 0.3);
  @include transition(border-color, 0.2s, ease-in-out);

  &:focus {
      border-color: rgba($color: #ffffff, $alpha: 0.6);
  }
}

.input_label {
  line-height: 1;
  pointer-events: none;
}

.badge {
  display: inline-block;
  color: #fff;
  line-height: 1;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  text-shadow: var(--text-shadow);
  overflow: hidden;

  @include devices(xs) {
      transform: scale(0.8);
      transform-origin: 0 0;
  }
}

.separator {
  @include margin-y(1rem, 1rem);
  border-top: 1px solid rgba($color: #666666, $alpha: 0.6);
}

.rating_star {
  color: var(--main-color-2);
  font-size: 0.9rem;
}

.tabs {
  @include flexbox(center, center);
  flex-wrap: wrap;
  gap: 4rem;

  .tabs_item {
      padding: 0.5rem 1rem;
      border-radius: 3px;
      cursor: pointer;
      @include transition(all, 0.2s, ease-out);

      &.active,
      &:hover {
          background-color: var(--main-color);
          color: #fff;
      }

      @include devices(sm) {
          font-size: 0.8rem;
          padding: 0.2rem 0.5rem;
      }
  }

  @include devices(lg) {
      gap: unset;
      justify-content: space-evenly;
  }

  @include devices(xs) {
      gap: 1rem;
  }
}

.tooltip {
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg-color-3);
  color: #eee;
  border-radius: 3px;
  user-select: none;
  font-size: 0.8rem;
  padding: 0.4rem 0.6rem;
  @include bordered(1px, var(--text-muted));
  @include toggleVisibility(hidden, 0);
  @include transition(all, 0.2s, ease-in-out);

  @include devices(lg) {
      display: none;
  }
}

.backdrop {
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  
  overflow-x: hidden;
  overflow-y: auto;
}

.modal_centered {

  min-height: calc(100% - 3rem);
  margin: 1.5rem;

  @include devices(xs) {
      min-height: calc(100% - 1rem);
      margin: 0.5rem;
  }
}





:root {
  --black-color: #a9afc3;

  --bg-color: #fff;
  --bg-color-2: #a9afc3;
  --bg-color-3: #a9afc3;

  --main-color: #FF0000;
  --main-color-2: #ED1D24;

  --text-color: #a9afc3;
  --text-muted: #6c757d;

  --track-color: #a9afc3;
  --thumb-color: #454a4d;
  --thumb-hover-color: #596268;

  --fb-color: #3b5998;
  --google-color: #a61c00;
  --twitter-color: #1da1f2;

  --text-shadow: 1px 1px 2px rgba($color: #a9afc3, $alpha: 0.8);
}



::-webkit-scrollbar {
  width: 0.6vw;
}

::-webkit-scrollbar-track {
  background-color: var(--track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--thumb-hover-color);
}

::selection {
  background-color: var(--main-color-2);
  color: #fff;
}

::-moz-selection {
  background-color: var(--main-color-2);
  color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scrollbar-width: thin;
  scrollbar-color: var(--thumb-color) var(--track-color);

  @include devices(xs) {
      font-size: 15px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

section {
  position: relative;
  overflow: hidden;
}

input,
button,
textarea {
  border: none;
  outline: none;
  line-height: 1;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
}

button {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

img,
svg {
  vertical-align: middle;
  user-select: none;
}

del {
  color: var(--text-muted);
}

















#footer {
  background-color : #202947;
  @include padding-y(3rem, 2rem);

  .separator {
      @include margin-y(2.5rem, 2rem);
      opacity: 0.7;
  }
}

.footer_wrapper {
  grid-template-columns: 1.4fr repeat(3, 1fr);
  justify-items: center;
  gap: 2rem;

  @include devices(md) {
      grid-template-columns: 1.4fr 1fr;
      justify-items: unset;
      gap: 4rem;
  }

  @include devices(xs) {
      grid-template-columns: 1fr;
      gap: 3rem;
  }
}

.foot_subs {
  p {
      @include margin-y(1rem, 1rem);
      font-size: 0.875rem;
      opacity: 0.9;
  }

  .btn {
      margin-top: 1rem;
  }
}

.foot_menu {
  ul {
      margin-top: 1.8rem;
      display: grid;
      gap: 1rem;

      a {
          font-size: 0.9rem;
          opacity: 0.8;

          &:hover {
              opacity: 1;
          }
      }
  }
}

.sub_footer_wrapper {
  @include flexbox(space-between, center);

  @include devices(md) {
      @include flexbox();
      flex-direction: column-reverse;
      gap: 2rem;
  }
}

.foot_copyright {
  font-size: 0.95rem;

  a {
      color: #eee;
      opacity: 0.8;

      &:hover {
          opacity: 1;
      }
  }
}

.foot_social {
  @include flexbox();
  gap: 2rem;
  font-size: 1.2rem;
  margin-right: 4rem;
}
















.services_wrapper {
  @include grid-cols(4, 1fr, 2rem);
  place-items: center;
  @include padding-y(3rem, 1rem);


  @include devices(lg) {
      @include grid-cols(2, 1fr, 3rem);
  }

  @include devices(xs) {
      grid-template-columns: 1fr;
  }
}

.services_card {
  @include flexbox(flex-start, center);
  gap: 1.2rem;
}

.services_icon {
  color: rgb(115, 235, 235);
  opacity: 0.9;
  font-size: 2.2rem;
  line-height: 1;
}

.services_details {
  p {
      font-size: 0.875rem;
      margin-top: 0.4rem;
      opacity: 0.8;
      color: rgb(0, 0, 0, 0.7);
  }
}